body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/background.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

.logo{
    margin-top: 4rem;
    margin-left: 10rem;
    color: white;
    font-family: 'Raleway';
    text-decoration-style: solid;
    text-transform: uppercase;
}

.logo h1{
    margin-left: 10px;
}

.logo img{
    height: 4rem;
    width: 4rem;
    float: left;
}

.logo a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

span{
    color: rgb(252, 134, 43);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 242, 226);
    width: 82%;
    margin: auto;
    margin-top: 20px;
}

.left{
    padding-left: 20px;
    text-align: left;
    background-color: white;
    display: flex;
}

.wrapper{
    padding: 50px;
    background-color: white;
}

.right{
    padding: 30px;
    display: flex;
}

.text-box h1{
    color: rgb(239, 126, 40);
    font-family: 'Raleway';
    font-size: 50px;
    text-decoration-style: solid;
    width: 50%;
}

p{
    font-family: Open Sans,sans-serif;    
}

.left p{
    font-size: 20px;
    width: 80%;
    margin-left: 10px;
}

.img-box img{
    padding-top: 30px;
    width: 80%;
    height: 80%;
}

.img-box{
    margin: auto;
    width: 50%;
}

.text-box, .text-box2 {
    width: 50%;
}

.text-box3{
    background-clip: border-box;
    background-color: rgb(255, 245, 239);
    padding: 20px;
    margin: auto;
    width: 60%;
    border: none 8px rgb(33, 37, 41);
    box-shadow: 0 4px 8px 0 rgba(174, 174, 174, 0.2), 0 6px 20px 0 rgba(201, 199, 199, 0.19);
    border-radius: 10px;
    box-sizing: border-box;
}
.text-box2{
    padding-right: 30px;
}

.right li{
    font-family: Open Sans,sans-serif;
    font-size: 20px;
}

.text-box2 h1{
    color: rgb(239, 126, 40);
    font-family: 'Raleway';
    font-size: 50px;
    text-decoration-style: solid;
}

.text-box3 h1{
    margin: auto;
    color: rgb(239, 126, 40);
    font-family: 'Raleway';
    font-size: 50px;
    text-decoration-style: solid;
}

.text-box3 span{
    font-size: 25px;
}

.text-box3 b{
    font-size: 20px;
}

.text-box3 button{
    background-color: rgb(239, 126, 40);
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    border: none rgb(33, 37, 41);
}

.right2 h1{
    color: rgb(239, 126, 40);
    font-family: 'Raleway';
    font-size: 50px;
    text-decoration-style: solid;
}

/* Timeline Container */
.timeline {
    margin: auto;
    padding: 20px;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .outer{
    margin: auto;
  }
  /* Card container */
  .card {
    position: relative;
    max-width: 800px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid rgb(239, 126, 40);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    font-family: Open Sans,sans-serif;
    font-size: 20px;
    background: #333;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    font-family: Open Sans,sans-serif;
    font-size: 20px;
    color: rgb(239, 126, 40);
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info  {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  